<div style="background-image: ;">
    <form method="post" action="/api/user/forgot-password"
        style="width: 358px; margin: 0 auto; background-color: rgba(0, 0, 0, 0.5); padding: 16px; border-radius: 12px; margin-top: 100px;">        
        {{!-- <img src="https://image.pngaaa.com/5/463005-middle.png" /> --}}
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1">
            <p id="emailHelp" class="form-text" style="color: #A6A6A6; font-size: 14px;">At-least 8 characters</p>
        </div>
        <button type="submit" class="form-control" class="btn btn-primary" style="font-size: 16px; font-weight: bold;">Set Password</button>
    </form>
</div>